# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp

# Ignore logs and temporary files
*.log
*.tmp

# Ignore build and distribution directories
build/
dist/
*.egg-info/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore zip files
*.zip